body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6422 {
  position:absolute;
  left:210px;
  top:120px;
  width:805px;
  height:1121px;
}
#u6423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6423 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6424 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6425 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u6426 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6427 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u6428 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u6429 {
  position:absolute;
  left:300px;
  top:0px;
  width:500px;
  height:30px;
}
#u6430 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u6431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6431 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u6432 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6433 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u6434 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6435 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u6436 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u6437 {
  position:absolute;
  left:300px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u6438 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6439 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:45px;
}
#u6440 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6441 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:45px;
}
#u6442 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u6443 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:45px;
}
#u6444 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:45px;
}
#u6445 {
  position:absolute;
  left:300px;
  top:60px;
  width:500px;
  height:45px;
  text-align:left;
}
#u6446 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u6447 {
  position:absolute;
  left:0px;
  top:105px;
  width:100px;
  height:61px;
}
#u6448 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u6449 {
  position:absolute;
  left:100px;
  top:105px;
  width:100px;
  height:61px;
}
#u6450 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u6451 {
  position:absolute;
  left:200px;
  top:105px;
  width:100px;
  height:61px;
}
#u6452 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:61px;
}
#u6453 {
  position:absolute;
  left:300px;
  top:105px;
  width:500px;
  height:61px;
  text-align:left;
}
#u6454 {
  position:absolute;
  left:2px;
  top:22px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u6455 {
  position:absolute;
  left:0px;
  top:166px;
  width:100px;
  height:44px;
}
#u6456 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u6457 {
  position:absolute;
  left:100px;
  top:166px;
  width:100px;
  height:44px;
}
#u6458 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:44px;
}
#u6459 {
  position:absolute;
  left:200px;
  top:166px;
  width:100px;
  height:44px;
}
#u6460 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:44px;
}
#u6461 {
  position:absolute;
  left:300px;
  top:166px;
  width:500px;
  height:44px;
  text-align:left;
}
#u6462 {
  position:absolute;
  left:2px;
  top:14px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6463 {
  position:absolute;
  left:0px;
  top:210px;
  width:100px;
  height:100px;
}
#u6464 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6465 {
  position:absolute;
  left:100px;
  top:210px;
  width:100px;
  height:100px;
}
#u6466 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6467 {
  position:absolute;
  left:200px;
  top:210px;
  width:100px;
  height:100px;
}
#u6468 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u6469 {
  position:absolute;
  left:300px;
  top:210px;
  width:500px;
  height:100px;
  text-align:left;
}
#u6470 {
  position:absolute;
  left:2px;
  top:42px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
}
#u6471 {
  position:absolute;
  left:0px;
  top:310px;
  width:100px;
  height:115px;
}
#u6472 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
}
#u6473 {
  position:absolute;
  left:100px;
  top:310px;
  width:100px;
  height:115px;
}
#u6474 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
}
#u6475 {
  position:absolute;
  left:200px;
  top:310px;
  width:100px;
  height:115px;
}
#u6476 {
  position:absolute;
  left:2px;
  top:50px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:115px;
}
#u6477 {
  position:absolute;
  left:300px;
  top:310px;
  width:500px;
  height:115px;
  text-align:left;
}
#u6478 {
  position:absolute;
  left:2px;
  top:50px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u6479 {
  position:absolute;
  left:0px;
  top:425px;
  width:100px;
  height:85px;
}
#u6480 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u6481 {
  position:absolute;
  left:100px;
  top:425px;
  width:100px;
  height:85px;
}
#u6482 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u6483 {
  position:absolute;
  left:200px;
  top:425px;
  width:100px;
  height:85px;
}
#u6484 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:85px;
}
#u6485 {
  position:absolute;
  left:300px;
  top:425px;
  width:500px;
  height:85px;
  text-align:left;
}
#u6486 {
  position:absolute;
  left:2px;
  top:34px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u6487 {
  position:absolute;
  left:0px;
  top:510px;
  width:100px;
  height:52px;
}
#u6488 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u6489 {
  position:absolute;
  left:100px;
  top:510px;
  width:100px;
  height:52px;
}
#u6490 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u6491 {
  position:absolute;
  left:200px;
  top:510px;
  width:100px;
  height:52px;
}
#u6492 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u6493 {
  position:absolute;
  left:300px;
  top:510px;
  width:500px;
  height:52px;
  text-align:left;
}
#u6494 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u6495 {
  position:absolute;
  left:0px;
  top:562px;
  width:100px;
  height:64px;
}
#u6496 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u6497 {
  position:absolute;
  left:100px;
  top:562px;
  width:100px;
  height:64px;
}
#u6498 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u6499 {
  position:absolute;
  left:200px;
  top:562px;
  width:100px;
  height:64px;
}
#u6500 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:64px;
}
#u6501 {
  position:absolute;
  left:300px;
  top:562px;
  width:500px;
  height:64px;
  text-align:left;
}
#u6502 {
  position:absolute;
  left:2px;
  top:24px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u6503 {
  position:absolute;
  left:0px;
  top:626px;
  width:100px;
  height:95px;
}
#u6504 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u6505 {
  position:absolute;
  left:100px;
  top:626px;
  width:100px;
  height:95px;
}
#u6506 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u6507 {
  position:absolute;
  left:200px;
  top:626px;
  width:100px;
  height:95px;
}
#u6508 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:95px;
}
#u6509 {
  position:absolute;
  left:300px;
  top:626px;
  width:500px;
  height:95px;
  text-align:left;
}
#u6510 {
  position:absolute;
  left:2px;
  top:40px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6511 {
  position:absolute;
  left:0px;
  top:721px;
  width:100px;
  height:100px;
}
#u6512 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6513 {
  position:absolute;
  left:100px;
  top:721px;
  width:100px;
  height:100px;
}
#u6514 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6515 {
  position:absolute;
  left:200px;
  top:721px;
  width:100px;
  height:100px;
}
#u6516 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u6517 {
  position:absolute;
  left:300px;
  top:721px;
  width:500px;
  height:100px;
  text-align:left;
}
#u6518 {
  position:absolute;
  left:2px;
  top:42px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:75px;
}
#u6519 {
  position:absolute;
  left:0px;
  top:821px;
  width:100px;
  height:75px;
}
#u6520 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:75px;
}
#u6521 {
  position:absolute;
  left:100px;
  top:821px;
  width:100px;
  height:75px;
}
#u6522 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:75px;
}
#u6523 {
  position:absolute;
  left:200px;
  top:821px;
  width:100px;
  height:75px;
}
#u6524 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:75px;
}
#u6525 {
  position:absolute;
  left:300px;
  top:821px;
  width:500px;
  height:75px;
  text-align:left;
}
#u6526 {
  position:absolute;
  left:2px;
  top:30px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6527 {
  position:absolute;
  left:0px;
  top:896px;
  width:100px;
  height:55px;
}
#u6528 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6529 {
  position:absolute;
  left:100px;
  top:896px;
  width:100px;
  height:55px;
}
#u6530 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6531 {
  position:absolute;
  left:200px;
  top:896px;
  width:100px;
  height:55px;
}
#u6532 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u6533 {
  position:absolute;
  left:300px;
  top:896px;
  width:500px;
  height:55px;
  text-align:left;
}
#u6534 {
  position:absolute;
  left:2px;
  top:20px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6535 {
  position:absolute;
  left:0px;
  top:951px;
  width:100px;
  height:55px;
}
#u6536 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6537 {
  position:absolute;
  left:100px;
  top:951px;
  width:100px;
  height:55px;
}
#u6538 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6539 {
  position:absolute;
  left:200px;
  top:951px;
  width:100px;
  height:55px;
}
#u6540 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u6541 {
  position:absolute;
  left:300px;
  top:951px;
  width:500px;
  height:55px;
  text-align:left;
}
#u6542 {
  position:absolute;
  left:2px;
  top:20px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6543 {
  position:absolute;
  left:0px;
  top:1006px;
  width:100px;
  height:55px;
}
#u6544 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6545 {
  position:absolute;
  left:100px;
  top:1006px;
  width:100px;
  height:55px;
}
#u6546 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6547 {
  position:absolute;
  left:200px;
  top:1006px;
  width:100px;
  height:55px;
}
#u6548 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u6549 {
  position:absolute;
  left:300px;
  top:1006px;
  width:500px;
  height:55px;
  text-align:left;
}
#u6550 {
  position:absolute;
  left:2px;
  top:20px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6551 {
  position:absolute;
  left:0px;
  top:1061px;
  width:100px;
  height:55px;
}
#u6552 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6553 {
  position:absolute;
  left:100px;
  top:1061px;
  width:100px;
  height:55px;
}
#u6554 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:55px;
}
#u6555 {
  position:absolute;
  left:200px;
  top:1061px;
  width:100px;
  height:55px;
}
#u6556 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:55px;
}
#u6557 {
  position:absolute;
  left:300px;
  top:1061px;
  width:500px;
  height:55px;
  text-align:left;
}
#u6558 {
  position:absolute;
  left:2px;
  top:20px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
